body {
    margin: 0;
    padding: 0;
    background: #0a0f1c;
    font-family: Arial, sans-serif;
    color: #ffffff;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #080c18;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #dce3f2;
    font-weight: 500;
}

nav a:hover {
    color: #ffd645;
}

.follow-btn {
    background: #ffd645;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}


.hero {
    background: #111827;
    padding: 40px;
    border-radius: 20px;
    margin: 30px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    color: #c9ccd5;
    margin-bottom: 30px;
}


.stats {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
}

.stat-box {
    background: #0d1320;
    flex: 1;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.stat-box .value {
    font-size: 36px;
    font-weight: bold;
}


.schedule-btn {
    background: #ffd645;
    color: #000;
    padding: 12px 25px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
}


.section-title {
    font-size: 22px;
    margin-left: 30px;
    margin-top: 40px;
}
